/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body html{
    background-color: #e2e2e2;
    font-family: "Open Sans","Rubik", sans-serif;
    height: 100%;
}

a{
    text-decoration: none;
    color: #2d98c9;
}

/* estilos header*/

#header {
    height: 60px;
    background: #3b4f5f;
    align-items: center;
}

#header #logo img {
    padding: 0;
    margin: 0;
}

#header .navbar, #logo  {
    text-align: center;
    padding: 5px;
  }

/*navbar*/
.nav-item a{
  color: #fff !important;
}

.navbar-collapse{
  background-color: #3b4f5f !important;
}
/* estilos index */

main .inicio{
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url(../img/inicio-bg.jpg) top center;
  font-family: 'Rubik', sans-serif;
}

main .img-inicio{
  display: flex;
  justify-content: center;
}
main .inicio img{
  margin: 3rem 0 0.2rem 0;
  width: 40%;
}

main .boton-inicio{
  background-color: #1b84b5;
  padding: 0.15rem 2rem 0.15rem 2rem;
  border: none;
  margin-bottom: 5rem;
}

main .boton-inicio:hover{
  background-color: #1589be;
  color: #ccc;
}

main .boton-inicio a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 2rem 0 2rem 0;
}

main h1{
  margin: 0.6rem;
  font-weight: 800;
  font-size: 3rem;
  color: #f7f7f7;
}

main p {
  font-size: 1.5rem;
  color: #f7f7f7;
}

/* footer */

#footer {
    background: #3b4f5f;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
  }

  /* estilos main de las pages*/
  /*proyecto*/

  main .contenedor{
    font-family: 'Rubik', sans-serif;
  }

  /*servicios*/
  main .contenedor .servicios{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .contenedor .servicios .grupo-tarjetas{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  main .contenedor .servicios .grupo-tarjetas .tarjeta{
    padding: 1rem;
    background-color: rgb(211, 211, 211);
    border-radius: 1%;
    margin: 1rem;
  }

  main .contenedor .servicios h2{
    font-weight: 800;
    font-size: 2rem;
    margin: 1rem;
  }

  main .contenedor .servicios .grupo-tarjetas .tarjeta h3{
    font-size: 1.2rem;
    font-weight: 400;
  }

  main .contenedor .servicios .grupo-tarjetas .tarjeta p{
    font-size: 0.9rem;
    color: #3b4f5f;
  }

  main .contenedor .servicios .grupo-tarjetas .tarjeta i{
    margin: 1rem;
    font-size: 2.5rem;
  }

  /*proyecto*/
  main .proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
  }
  
  main .img-inicio{
    display: flex;
    justify-content: center;
  }
  main .proyecto img{
    margin: 3rem 0 0.2rem 0;
    width: 40%;
  }

  main .proyecto h2{
    font-weight: 800;
    font-size: 2rem;
    margin: 1rem;
  }
  main .proyecto h3{
    font-size: 1.2rem;
    font-weight: 400;
  }

  main .proyecto p{
    font-size: 0.9rem;
    color: #3b4f5f;
  }

  main .proyecto .tarjeta{
    padding: 1rem;
    background-color: rgb(211, 211, 211);
    border-radius: 1%;
    margin: 1rem;
  }

   /*equipo*/
   main .equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
   }
   main .equipo h2{
    font-weight: 800;
    font-size: 2rem;
    margin: 1rem;
  }

  main .equipo h3{
    font-size: 1.2rem;
    font-weight: 400;
  }

  main .equipo img{
    margin: 0 0 0.2rem 0;
    width: 40%;
  }

  .redes i{
    margin: 0 0.2rem 0 0.2rem;
    font-size: 1.2rem;
  }

  /*contacto*/

  main .contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
  }

  main .contacto h2{
    font-weight: 800;
    font-size: 2rem;
    margin: 1rem;
  }
  main .contacto p{
    font-size: 0.9rem;
    color: #3b4f5f;
  }

  /*Propiedades MediaQuery*/

  @media screen and (min-width:1024px) {
    main .contenedor .servicios .grupo-tarjetas {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    main .proyecto {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    main .equipo .grupo {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 3rem 0 3rem 0;
    }
    
  }