//Paleta de colores

$black: #000000;
$aerie-black: #1A1E20;
$gunmetal: #343B40;
$gunmetal-light: #5f6365;
$celestial-blue: #2D98C9;
$piction-blue: #34ABE2;
$deep-sky-blue: #3ABDFA;
$silver: #CCCCCC;
$platinum: #E6E6E6;
$white: #fff;

// tamaños 